*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

header{
    text-align: center;
    font-size: 3rem;
    width: 100vw;
    height: 15vh;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 30px;
}

h2{
    padding: 8px;
    font-size: 2rem;
}

.cards-container{
    width: 20%;
    height: 40%;
    text-align: center;
    border: 1.5px solid red;
    border-radius: 6px;
    gap: 20px;
    padding: 12px;
    flex-wrap: wrap;
}

span{
    font-size: 1.2rem;
}
@media (max-width: 960px){
    main{
        gap: 20px;
    }
    h2{
        font-size: 1.5rem;
    }
}
@media (max-width: 760px){
    header{
        font-size: 2rem;
    }
    main{
        display: flex;
        flex-wrap: wrap;
    }
    .cards-container{
        width: 80%;
        height: 100%;
        margin: 10px;
    }
}
